.hhtransport {
  font-size: 75%;
  line-height: 65px;
  display: inline-block;
  -ms-transform: translate(0, -3px); /* IE 9 */
  -webkit-transform: translate(0, -3px); /* Safari */
  transform: translate(0, -3px);
}

.hhtransport table {
    width: 400px;
}

.hhtransport .red {
    color: #FF0000
}
